.roomContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.action button {
    width: 100%;
    height: 100%;
}
.waintingDiv
{
    margin: 5vh;
    display: flex; 
    justify-content : space-around;
    align-items: center;
    min-width: 20vw;
}