.BigItemCard {
    background-color: lightgrey;
    height: 15vw;
    width: 40vw;
    text-align: center;
    font-size: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.boxContainer {
    display: flex;
    align-items : center;
    flex-wrap: wrap;
    height: 98vh;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

svg
{
    font-size: xx-large;
}