.chatContainer
{
    width: 50vw;
    height: 80vh;
    margin-left: 1vw;
}

.topBar
{
    display: flex;
    justify-content: space-around;
    background-color: #e0e1e2;
    border-radius: 3px;
    margin-top: 1vh;
}

.selectUser
{
    width: 100%;
    margin-top: 1vh;
    text-align: center;
}

.listMsg
{
    height: 25vh;
    max-height: 25vh;
    max-width: 100%;
    padding: 0 5%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: auto;
}

.txtAreaMsg
{
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.btnSendMsg
{
    width: 100%;
    margin-top: 1vh;
    border-radius: 5px;
}

.listMsg
{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
}