.table-cartes {
    flex: 2;
}

.selected-card {
    flex: 1;
    padding: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.action button {
    width: 100%;
}