.MsgBox
{
    margin: 5% 0;
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgb(143, 143, 143);
}

.time
{
    margin-bottom: 2%;
    align-self: flex-start;
}