.media {
    height: 150px;
    background-size: contain !important;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.stats-row div {
    flex: 1;
    text-align: center;
}
