.gameContainer
{
    margin: 10vw;
    /* border: black solid; */
    display: flex;
    justify-content: space-around;
}

.gameBlock
{
    flex-grow: 10;
    display: flex;
    flex-flow: column;
    padding: 5%;
}

.gameButton
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.gameButton button
{
    margin: 2vw 0;
}

.gameUserBlock
{
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

.separation
{
    display: flex;
    align-items: center;
}

.separation div
{
    width: 47%;
    height: 1px;
    background-color: black;
    margin-right: 1vw;
    margin-left: 1vw;
}
